@use '../abstracts/variables' as *;

.header {
  height: $header-height;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $space-md;
  background: var(--surface);
  margin-bottom: $space-lg;
}

.header__left {
  display: flex;
  align-items: center;
  gap: $space-md;
}

.header__right {
  display: flex;
  align-items: center;
  gap: $space-md;
}
